<% 
  const { floatingButton: {
    bsi,
    wallet,
    whitepaper
  } } = data;

  let whitepaperUrl = '';

  switch (lang) {
    case 'en':
      whitepaperUrl = '/download/BSI Whitepaper (English Version).pdf';
      break;

    case 'id':
      whitepaperUrl = '/download/BSI Whitepaper (Indonesian Version).pdf';
      break;

    case 'kr':
      whitepaperUrl = '/download/BSI Whitepaper (Korean Version).pdf';
      break;
  
    default:
      whitepaperUrl = '/download/BSI Whitepaper (English Version).pdf';
      break;
  }
%>

<div class="fb">
  <a href="/<%= lang %>/exchange" class="fb__button">
    <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-chart-line"></i>
    </span>

    <span class="fb__button-content fb__button-text"><%- bsi.name %></span>
  </a>

  <a href="https://wallet.bsin.io" class="fb__button" target="_blank" rel="noreferrer">
    <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-wallet"></i>
    </span>

    <span class="fb__button-content fb__button-text"><%- wallet.name %></span>
  </a>

  <a href="<%- whitepaperUrl %>" class="fb__button" target="_blank" rel="noreferrer">
    <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-file-pdf"></i>
    </span>

    <span class="fb__button-content fb__button-text"><%- whitepaper.name %></span>
  </a>

  <a href="/<%= lang %>/dream-concert" class="fb__button">
    <!-- <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-file-pdf"></i>
    </span> -->

    <span class="fb__button-content fb__button-text">Dream Concert</span>
  </a>
</div>