<% 
  const { footer: {
    profile,
    navigation,
    download,
    social,
    copyright
  } } = data;
%>

<footer class="page-footer">
  <div class="container">
    <div class="row page-footer__row">
      <div class="col-12 col-md-6">
        <div class="page-footer__profile page-footer__section">
          <img src="/img/bsi-logo-v2-white.png" alt="Bali Social Integrated" class="page-footer__profile-brand" />

          <div class="page-footer__profile-introduction">
            <% for( let i = 0; i < profile.length; i++ ) { %>
              <% const text = profile[i]; %>

              <p class="page-footer__profile-text"><%- text %></p>
            <% } %>  
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <nav class="page-footer__navigation page-footer__section">
          <h3 class="page-footer__navigation-title page-footer__section-title"><%- navigation.title %></h3>

          <ul class="page-footer__navigation-list">
            <li class="page-footer__navigation-list-item">
              <a href="/<%= lang %>/contact" class="page-footer__navigation-link"><%- navigation.nav.contact %></a>
            </li>

            <li class="page-footer__navigation-list-item">
              <a href="/<%= lang %>/about" class="page-footer__navigation-link"><%- navigation.nav.about %></a>
            </li>

            <li class="page-footer__navigation-list-item">
              <a href="/<%= lang %>/service" class="page-footer__navigation-link"><%- navigation.nav.service %></a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-12 col-md-3">
        <div class="page-footer__download page-footer__section">
          <h2 class="page-footer__download-title page-footer__section-title"><%- download.title %></h2>

          <ul class="page-footer__download-list">
            <li class="page-footer__download-list-item">
              <a href="https://play.google.com/store/apps/details?id=io.bsin.wallet" class="page-footer__download-link" target="_blank" rel="noreferrer">
                <img src="/img/google-play-badge.png" alt="Google Play Store Download" class="page-footer__download-icon" />
              </a>
            </li>

            <li class="page-footer__download-list-item">
              <a href="https://apps.apple.com/app/id1606327952" class="page-footer__download-link"target="_blank" rel="noreferrer">
                <img src="/img/apple-store-badge.svg" alt="Apple Store Download" class="page-footer__download-icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-8 col-md-6">
        <div class="page-footer__social page-footer__section">
          <h2 class="page-footer__social-title page-footer__section-title"><%- social.title %></h2>

          <div class="page-footer__social-list">
            <a href="https://t.me/CFBSI" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-telegram page-footer__social-icon"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCIS_7jaW8z-rzq-FXawOTMQ" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-youtube page-footer__social-icon"></i>
            </a>
            <a href="https://www.facebook.com/people/Bsi-Token/pfbid02Wf17qGcRn9i9LJqPucybBvgSHCEcKiRGLd4gHX8uqNEb5Nj1ZrGPJngTWrFZge29l/" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-facebook page-footer__social-icon"></i>
            </a>
            <a href="https://twitter.com/bsitoken_" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-twitter page-footer__social-icon"></i>
            </a>
            <a href="https://instagram.com/bsitoken" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-instagram page-footer__social-icon"></i>
            </a>
            <a href="https://www.tiktok.com/@cfbsi" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-tiktok page-footer__social-icon"></i>
            </a>
            <a href="https://balisocialintegrated.medium.com" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-medium page-footer__social-icon"></i>
            </a>
            <a href="https://github.com/BSItoken" class="page-footer__social-link" target="_blank" rel="noreferrer">
              <i class="fa-brands fa-github page-footer__social-icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row page-footer__row">
      <div class="col">
        <div class="page-footer__copyright">
          <p class="page-footer__copyright-text"><%- copyright %></p>
        </div>
      </div>
    </div>
  </div>
</footer>