<% 
  const { about: {
    groupCompany,
    bsiTeam,
    partnership
  } } = data;
%>

<%- include('partials/header.ejs') %>
  <body class="about <%= lang %>">
    <%- include('partials/navbar.ejs') %>

    <main class="main-container">
      <section class="group-company page-section container-fluid">
        <div class="row group-company__text-row">
          <div class="col-12 group-company__col">
            <h2 class="group-company__title page-section__title"><%= groupCompany.title %></h2>
          </div>

          <!-- <div class="col-12 group-company__col">
            <p class="group-company__body"><%= groupCompany.body %></p>
          </div> -->
        </div>

        <div class="row group-company__image-row">
          <div class="col-12 group-company__col">
            <img src="/img/group-company-white.png" alt="Viaje Foundation" class="group-company__image" />
          </div>
        </div>
      </section>

      <section class="bsi-team page-section container">
        <div class="row bsi-team__row bsi-team__row--title">
          <div class="col">
            <h2 class="bsi-team__title page-section__title"><%= bsiTeam.title %></h2>
          </div>
        </div>

        <div class="row bsi-team__row bsi-team__row--images">
          <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <div class="bsi-team__item bsi-team__item--danniel">
              <div class="bsi-team__item-overlay"></div>

              <div class="bsi-team__item-info">
                <h4 class="bsi-team__item-name">Danniel Prakasa</h4>
                <h5 class="bsi-team__item-position">CEO / Chief Executive Officer</h5>
              </div>
            </div>   
          </div>

          <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <div class="bsi-team__item bsi-team__item--juleo">
              <div class="bsi-team__item-overlay"></div>

              <div class="bsi-team__item-info">
                <h4 class="bsi-team__item-name">Juleo Fernando</h4>
                <h5 class="bsi-team__item-position">COO / Chief Operations Officer</h5>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="partnership page-section container">
        <div class="row">
          <div class="col-12">
            <h2 class="partnership__title page-section__title"><%= partnership.title %></h2>
          </div>

          <div class="col-12">
            <% for( let i = 0; i < partnership.body.length; i++ ) { %>
              <% const text = partnership.body[i]; %>

              <p class="partnership__body"><%- text %></p>  
            <% } %>

            <!-- <p class="partnership__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo accusantium tempore inventore eveniet possimus? Perspiciatis ut veritatis id porro aliquid?</p> -->
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="partnership__images">
              <img src="/img/partnership-white-logo.png" alt="Partners Logo" class="partnership__image partnership__image--partners" />
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
