<%- include('partials/header.ejs') %>
  <body class="contact <%= lang %>">
    <%- include('partials/navbar.ejs') %>

    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1 class="banneer-title">CONTACT US</h1>
            <p class="banner1">Have any questions? We'd love to hear from you. </p>
          </div>
        </div>
      </div>
    </section>

    <section class="contact_us page-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1 class="email">E-MAIL</h1>
            <p class="banner1">info@bsi.co.id </p>
          </div>
          <div class="col-lg-7 ">
            <h1 class="partner">PARTNERSHIP E-MAIL</h1>
            <p class="banner1">partner@bsi.co.id </p>
          </div>
      </div>
    </section>
    <!-- <%- include('partials/footer.ejs') %> -->
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
