<% 
  let currentLangText = '';
  let currentLangFlagName = '';
  switch (lang) {
    case 'en':
      currentLangText = 'EN';
      currentLangFlagName = 'en-lang-flag.png';
      break;
    case 'id':
      currentLangText = 'ID';
      currentLangFlagName = 'id-lang-flag.png';
      break;
    case 'kr':
      currentLangText = 'KO';
      currentLangFlagName = 'ko-lang-flag.png';
      break;
  
    default:
      currentLangText = 'EN';
      currentLangFlagName = 'en-lang-flag.png';
      break;
  }
%>

<%- include('partials/header.ejs') %>
  <body class="dream-concert-event <%= lang %>">
      <section class="ticket__metaverse ">
        <div class="container metaverse_wrap">
          <div class="row">
            <div class="col">
              <img src="/img/digifinex.svg" alt="" class="image-banner">
            </div>
          </div>
          <div class="row ">
            <!-- <div class="backround__white">
            </div> -->
            <div class="col-md-12 ticket_card ">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">29TH DREAM CONCERT IN BUSAN</h5>
                  <p class="card-text">METAVERSE TICKET.</p>
                  <p class="card-text">May 27 th, 2023.</p>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="text__small">
                        <p class="card_small_text">Purchasing BSI at</p>
                        <img src="/img/digifinex.svg" alt="" class="text-image">
                        <p class="discount__text">50% Discount</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input__ticket">
                        <p class="ml-2 text__input">Your email</p>
                        <input  type="text"  class="form-control" placeholder="Enter your email">

                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
          <div class="button mt-4">
            <div class="row button__exchange">
                <div class="col ">
                    <button type="button" class="btn__BUY" data-bs-toggle="modal" data-bs-target="#BUY">
                        <span data-feather="plus"></span>
                        Buy BSI
                    </button>
                    <button type="button" class="btn__Exchange" data-bs-toggle="modal" data-bs-target="#Exchange">
                      <span data-feather="plus"></span>
                      Exchange
                  </button>
                </div>
            </div>
        </div>
      </section>
      
    
     <section class="powered">
        <div class="row">
        
          <div class="col-14 col-lg-6 logo__custom">
            <div class="text__powered">
              <h2 class="text__powered_by">POWERED BY</h2>
            </div>
            <div class="logo__custom">
              <img src="/img/Digifinex Logo.svg" alt="" class="logo__digifinex">
              <img src="/img/Viaje Logo.svg" alt="" class="logo__partner">
              <img src="/img/Bsi Logo.svg" alt="" class="logo__partner">
            </div>
          </div>

          <div class="col-12 col-lg-6 concert__start">
            <div class="text__start">
              <h1>Concert Starts in</h1>
            </div>
            <div class="date__concert">
              <p>May 27th, 2023</p>
            </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="date__reminder d-inline">
                      <p class="d-inline">124<p>
                      <p class="d-inline">:</p>
                      <p class="d-inline">08</p>
                      <p class="d-inline">:</p>
                      <p class="d-inline">24</p>
                      <p class="d-inline">:</p>
                      <p class="d-inline">43</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </section>

     <section class="page__number">
      <div class="container">
        <div class="row tex__1">
          <div class="col-lg-7 col-12 number__tag">
            <div class="number__1">
              <p class="custom__number">1</p>
            </div>
            <div class="text__number">
             <p class="custom__text">Purchase according to the fluctuating BSI Price</p> 
            </div>
          </div>
        </div>

        <div class="row text__2">
          <div class="col-lg-8 col-12 number__tag">
            <div class="number__1">
              <p class="custom__number">2</p>
            </div>
            <div class="text__number">
             <p class="custom__text">Digifinex Event Scheduled on March 24th - April 25th</p> 
            </div>
          </div>
        </div>

        <div class="row text__3">
          <div class="col-lg-12 col-12 number__tag">
            <div class="number__1">
              <p class="custom__number">3</p>
            </div>
            <div class="text__number">
             <p class="custom__text">Event tickets would be sent weekly after the participation</p> 
            </div>
          </div>
        </div>
      </div>
      
     </section>

     <section class="intro-video">
      <div class="container">
        <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/kD3wJE55wkk?autoplay=1&mute=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="intro-video__iframe"
      >
    </iframe>
      </div>
      <!-- <video autoplay loop muted>
        <source src="/video/DreamConcert.mp4" type="video/mp4" />
      </video> -->

      
    </section>

    <section  class="about__dream__concert container">
      <div class="row company-profile__row">

        <div class="col-12 col-lg-8 company-profile__col">
          <div class="company-profile__info">
            <h2 class=" About__title">What is Dream Concert?</h2>
              <p class="dream__concert__about">

                Dream Concert is Korea’s longest-running, largest-scale performance by top K-POP stars This is known to be the K-POP concert that fans all over the world are looking forward to the most. This year’s Dream Concert is operating in a Metaverse world, in a real-time online live-streaming way wherein all K-POP fans around the world could participate and enjoy at the same time. Come and join our concert with your avatar! Don’t miss this chance! See you up there.</p> 
                
                <div class="col ">
                  <button type="button" class="btn__Exchange1" data-bs-toggle="modal" data-bs-target="#BUY">
                      <span data-feather="plus"></span>
                      Buy Ticket
                  </button>
              </div>

          </div>
        </div>
        <div class="col-12 col-lg-4 company-profile__col">
          <img src="/img/Gallery01.jpg" alt="BSI company profile" class="company-profile__image"/>
          <div class="row thumbnail_custom">
            <div class="col-md-4">
              <img src="/img/Gallery02.jpg" alt="Image 1" class="img-thumbnail">
            </div>
            <div class="col-md-4">
              <img src="/img/Gallery03.jpg" alt="Image 2" class="img-thumbnail">
            </div>
            <div class="col-md-4">
              <img src="/img/Gallery04.jpg" alt="Image 3" class="img-thumbnail">
            </div>
            <!-- <div class="col-md-4">
              <img src="/img/Gallery05.jpg" alt="Image 3" class="img-thumbnail">
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <section class=" page__reminder container ">
      <div class="reminder">
        <div class="text">
          <h1 class="text__notice">NOTICE</h1>
          <p class="text__small__notice">Ticket Redemption Procedure</p>
        </div>
        
        <div class="col-12 col-lg-2">
          <img src="/img/Frame 32.png" alt="BSI company profile" class="custom_Frame1" />
        </div>

        <div class="col-12 col-lg-7">
          <div class="">
            <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore tenetur ipsa quo, id unde odio reprehenderit enim dolores quasi impedit, necessitatibus incidunt blanditiis. Dicta et soluta ab minima, quisquam unde.</h2>
            
          </div>
        </div>
      </div>
    </section>

     <!-- <section id="" class="company-profile page-section container">
      <div class="row company-profile__row">
        <div class="col-12 col-lg-4 company-profile__col">
          <img src="/img/bsi-company-profile.png" alt="BSI company profile" class="company-profile__image" />
        </div>

        <div class="col-12 col-lg-8 company-profile__col">
          <div class="company-profile__info">
            <h2 class="company-profile__info-title page-section__title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore tenetur ipsa quo, id unde odio reprehenderit enim dolores quasi impedit, necessitatibus incidunt blanditiis. Dicta et soluta ab minima, quisquam unde.</h2>
              <p class="company-profile__info-body">Lorem, ipsum dolor.</p>  
          </div>
        </div>
      </div>
    </section> -->

    <!-- <script type="module" src="/src/main.ts"></script> -->
    
    <!-- <%- include('partials/floating-buttons.ejs') %> -->
    <!-- <%- include('partials/footer.ejs') %> -->
    <%- include('partials/js-libraries.ejs')%>

    <!-- <script src="/javascripts/global.js"></script> -->
    <!-- <script src="/javascripts/index.js"></script> -->
  </body>
</html>
