<%- include('partials/header.ejs') %>
  <body class="dream-concert <%= lang %>">
    <%- include('partials/navbar.ejs') %>
      <main class="main-container">
        <article class="dc container">
          <div class="row">
            <div class="col">
              <h1 class="dc__title">Dream Concert is Here</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="dc__box">#1</div>
            </div>
            <div class="col-lg-8">
              <div class="dc__box">#2</div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="dc__box">#3</div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="dc__box">#4</div>
            </div>
            <div class="col-lg-4">
              <div class="dc__box">#5</div>
            </div>
            <div class="col-lg-4">
              <div class="dc__box">#6</div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="dc__box">#7</div>
            </div>
            <div class="col-lg-4">
              <div class="dc__box">#8</div>
            </div>
          </div>
        </article>
      </main>

    <%- include('partials/floating-buttons.ejs') %>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>

    <!-- <script src="/javascripts/global.js"></script> -->
    <script src="/javascripts/index.js"></script>
  </body>
</html>
