<% 
  const { exchange: {
    title,
    subtitle,
    exchangeList
  } } = data;
%>

<%- include('partials/header.ejs') %>
  <body class="exchange <%= lang %>">
    <%- include('partials/navbar.ejs') %>

    <main class="main-container">
      <header class="page-header">
        <h1 class="page-header__title"><%= title %></h1>
  
        <h2 class="page-header__subtitle page-header__subtitle--one"><%= subtitle[0] %></h2>
        <h2 class="page-header__subtitle page-header__subtitle--two"><%= subtitle[1] %></h2>
      </header>

      <section class="exchange-list container">
        <div class="exchange-list__accordion accordion" id="exchangeAccordion">
          <% for( let i = 0; i < exchangeList.length; i++ ) { %>
            <% const data = exchangeList[i]; %>

            <div class="exchange-list__accordion-item accordion-item">
              <div class="exchange-list__accordion-header">
                <div class="exchange-list__accordion-platform" id="<%= `${data.id}Heading` %>">
                  <img src="/img/<%= data.image.name %>" alt="<%= data.image.alt %>" class="exchange-list__accordion-platform-img" />
                </div>
  
                <button type="button" class="exchange-list__accordion-trigger btn" data-bs-toggle="collapse" data-bs-target="#<%= data.id %>" aria-expanded="<%= i === 0 ? 'true' : 'false' %>" aria-controls="<%= data.id %>">
                  More Info
                </button>
              </div>
  
              <div id="<%= data.id %>" class="exchange-list__accordion-collapse accordion-collapse collapse <%= i === 0 ? 'show' : '' %>" aria-labelledby="<%= `${data.id}Heading` %>" data-bs-parent="#exchangeAccordion">
                <div class="exchange-list__accordion-body accordion-body">
                  <div class="exchange-list__accordion-text">
                    <% for( let j = 0; j < data.body.length; j++ ) { %>
                      <% const paragraph = data.body[j]; %>

                      <p><%= paragraph %></p>
                    <% } %>
                  </div>
                  
                  <% if (data.isExchange) { %>
                    <div class="exchange-list__accordion-control">
                      <a href="<%= data.exchangeUrl %>" target="_blank" rel="noreferrer" class="exchange-list__accordion-buy btn">Buy BSI</a>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </section>
    </main>
    
    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
