<% 
  const { service: {
    viajeEcosystem,
    viajePlatform,
    metaConcert,
  }, navbar: {
    service: {
      subcategory: [
        viajeEcosystemMeta,
        viajePlatformMeta,
        metaConcertMeta
      ]
    }
  } } = data;

  let ecosystemImage = '';
  let platformImage = '';

  switch (lang) {
    case 'en':
      ecosystemImage = 'ecosystem-en.png';
      platformImage = 'BBPP-en.png'
      break;

    case 'id':
      ecosystemImage = 'ecosystem-id.png';
      platformImage = 'BBPP-id.png'
      break;

    case 'kr':
      ecosystemImage = 'ecosystem-kr.png';
      platformImage = 'BBPP-en.png'
      break;
  
    default:
      ecosystemImage = 'ecosystem-en.png';
      platformImage = 'BBPP-en.png'
      break;
  }
%>

<%- include('partials/header.ejs') %>

  <body class="service <%= lang %>">
    <%- include('partials/navbar.ejs') %>

    <main class="main-container">
      <section id="<%= viajeEcosystemMeta.id %>" class="viaje-ecosystem page-section">
        <div class="container">
          <div class="row viaje-ecosystem__row viaje-ecosystem__row--image">
            <div class="col">
              <img src="/img/<%= ecosystemImage %>" alt="viaje-ecosystem" class="viaje-ecosystem__image"/>
            </div>
          </div>

          <div class="row viaje-ecosystem__row viaje-ecosystem__row--text">
            <div class="col">
              <h4 class="big-title viaje-ecosystem__title page-section__title"><%= viajeEcosystem.title %></h4>
  
              <% for( let i = 0; i < viajeEcosystem.body.length; i++ ) { %>
                <% const text = viajeEcosystem.body[i]; %>
  
                <p class="viaje-ecosystem__body"><%- text %></p>
              <% } %>
            </div>
          </div>
        </div>
      </section>
  
      <section id="<%= viajePlatformMeta.id %>" class="viaje-platform page-section">
        <div class="container">
          <div class="row viaje-platform__row viaje-platform__row--text">
            <div class="col-12">
              <img src="/img/<%= platformImage %>" alt="viaje_platform" class="viaje-platform__image"/>
            </div>
            <!-- <div class="row viaje-platform__row viaje-platform__row--image">
            </div> -->
            <div class="col-12">
              <h4 class="big-title viaje-platform__title page-section__title">
                <%= viajePlatform.title %>
              </h4>
  
              <% for( let i = 0; i < viajePlatform.body.length; i++ ) { %>
                <% const text = viajePlatform.body[i]; %>
  
                <p class="viaje-platform__body"><%- text %></p>
              <% } %>
            </div>
          </div>
  
          
        </div>
      </section>
      
      <section id="<%= metaConcertMeta.id %>" class="meta-concert page-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4 meta-concert__col meta-concert__col--image">
              <img class="meta-concert__image" src="/img/meta-concert.png" alt="meta-concert-illust">
            </div>
            
            <div class="col-md-8">
              <h4 class="big-title-1 meta-concert__title page-section__title"><%= metaConcert.title %></h4>
              <% for( let i = 0; i < metaConcert.body.length; i++ ) { %>
                <% const text = metaConcert.body[i]; %>
      
                <p class="meta-concert__body"><%- text %></p>
              <% } %>    
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/floating-buttons.ejs') %>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>

    <!-- <script src="/javascripts/global.js"></script> -->
    <script src="/javascripts/index.js"></script>
  </body>
</html>
