<% 
  const { service: {
    viajeEcosystem,
    viajePlatform,
    metaConcert,
  } } = data;
%>

<%- include('partials/header.ejs') %>
  <body class="service <%= lang %>">
    <%- include('partials/navbar.ejs') %>

    <section id="viaje-ecosystem" class="viaje_ecosystem">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="big-title text-center">
              <%= viajeEcosystem.title %>
            </h4>

            <% for( let i = 0; i < viajeEcosystem.body.length; i++ ) { %>
              <% const text = viajeEcosystem.body[i]; %>

              <p class="small text-center"><%- text %></p>
            <% } %>
          </div>
        </div>
        <div class="container">
          <div class="row text-center viaje_ecosystem_picture">
            <div class="col-lg">
              <img src="/img/viaje ecosystem.png" alt="viaje-ecosystem" class="viaje_ecosystem_icon"/>
            </div>
          </div>
        </div>
    </section>

    <section id="viaje-platform" class="viaje_platform">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="big-title text-center">
              <%= viajePlatform.title %>
            </h4>

            <% for( let i = 0; i < viajePlatform.body.length; i++ ) { %>
              <% const text = viajePlatform.body[i]; %>

              <p class="small text-center"><%- text %></p>
            <% } %>
          </div>
        </div>

        <div class="row text-center viaje_platform_page">
          <div class="col-md-12">
            <img src="/img/viaje platform.png" alt="viaje_platform" class="viaje_platform_picture"/>
          </div>
        </div>
    </section>

    
 <section class="meta_concert_illust">
  <div class="container">
    <div class="row meta_concert_prop">
      <div class="col-md-6 meta_img">
        <img class="meta-concert-img" src="/img/meta-concert-illust.png" alt="meta-concert-illust">
      </div>
      <div class="col">
        <h4 class="big-title"><%= metaConcert.title %></h4>

        <% for( let i = 0; i < metaConcert.body.length; i++ ) { %>
          <% const text = metaConcert.body[i]; %>

          <p class="small-1"><%- text %></p>
        <% } %>    
      </div>
    </div>
  </div>
 </section>



 <!-- <section class="metaverse page-section">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <img src="/img/meta-concert-illust.png" alt="Metaverse" class="metaverse__img">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="metaverse__info">
          <h2 class="metaverse__info-title">VIAJE META CONCERT</h2>
          <p class="metaverse__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, possimus quaerat? Accusantium voluptatem doloremque vero et harum omnis, modi fugiat quam, cumque eligendi eveniet obcaecati ratione in aperiam ad officia.</p>
          <p class="metaverse__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, possimus quaerat? Accusantium voluptatem doloremque vero et harum omnis, modi fugiat quam, cumque eligendi eveniet obcaecati ratione in aperiam ad officia.</p>
        </div>
      </div>
      <div class="col-12 col-md-5"></div>
    </div>
  </div>
</section> -->

 



    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
